header {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url(/refeicao.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/refeicao.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/refeicao.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* Main nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 55px;
}

.main-nav > li, a {
    display: inline-block;
}

.main-nav > li {
    margin-left: 40px;
}

.main-nav > li > a:link,
.main-nav > li > a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    transition: transform 0.3s;
    transform: scale(1.0);
}

.main-nav > li > a:hover,
.main-nav > li > a:active {
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transform: scale(1.2);
}
