.ingredientes {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 0.7)),
            to(rgba(0, 0, 0, 0.7))
        ),
        url(/compras.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/compras.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/compras.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
    font-size: 24px;
    color: #FFF;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }