.receitas-ingredientes > li{
    font-size: 65%;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    border-bottom: 1px solid rgba(70, 70, 70, 0.1);
}

.receitas-ingredientes > li:last-child{
    border-bottom: none;
    margin-bottom: 15px;
}

.unidade {
    float: right;
}